build --define=tf=1
test -c dbg

build --apple_platform_type=macos
build --keep_going
build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17
build --enable_platform_specific_config
build --verbose_failures=true
build --genrule_strategy=local

# build --action_env CC="/usr/bin/gcc-9"

# Linker toggle.
# build --linkopt=-fuse-ld=lld
build --linkopt=-fuse-ld=gold

build:linux --cpu=k8

build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -g
build:asan --copt -O3
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address

build:dbg --copt -g
build:dbg --compilation_mode=dbg
build:dbg --per_file_copt=+tensorflow/core/kernels.*@-g0

build:mimalloc --linkopt=-L/usr/local/lib
build:mimalloc --linkopt=-lmimalloc

build:optcommon --copt=-march=native
build:optcommon --host_copt=-march=native
build:optcommon --copt=-Wno-sign-compare
build:optcommon --host_copt=-Wno-sign-compare
build:optcommon --copt=-O3

build:opt --config=optcommon
build:opt --compilation_mode=opt

build:optdbg --config=optcommon
build:optdbg --compilation_mode=dbg
build:optdbg --copt -g
build:optdbg --per_file_copt=+tensorflow/core/kernels.*@-g0

build:test --compilation_mode=dbg
build:test --strip=never
build:test --//cc:is_test

build:trt --//cc:is_trt

build:b19 --copt -DBOARD_LEN=19
build:b9 --copt -DBOARD_LEN=9
