.DS_Store
*.pdf
*.sgf
dummy_data/*
*.pyc
bazel-*
external/*
third_party/testU01
python/third_party/**
python/scripts/estimate_score.py
.vscode
models/**
data/**

cc/tensorflow/**
!cc/tensorflow/BUILD
.trunk
.clangd
